<!DOCTYPE html>
<html>
<head>
  
  <%- include ("../partials/header.ejs") %>

  <script>
    
  </script>
</head>

<body >
  
  <div class="frame">
    <%- include ("../partials/nav.ejs") %>
      <%- include ("../pages/home.ejs") %>
      <%- include ("../pages/about.ejs") %>
      <%- include ("../pages/services.ejs") %>
      <%- include ("../pages/potfolio.ejs") %>
      <%- include ("../partials/footer.ejs") %>
  </div>

  


  </body>
</html>
 